/* Side panel */
.editor {
    overflow: hidden;
}

aside::-webkit-scrollbar {
    width: 5px;
}

aside::-webkit-scrollbar-thumb {
    background-color: #e3e3e3;
    border-radius: 5px;
}

aside::-webkit-scrollbar-track {
    background-color: #fdfdfd;
    width: 5px;
    margin: 8px 0;
}

.slides-container {
    display: flex;
}

.slide-edit{
    width: 100%;
    background-color: #f9f9f9;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .slide-edit .slide-frame {
        width: 60%;
        height: 80%;
    }

.slides-pane {
    flex-shrink: 0;
    width: 210px;
    padding: 0 4px 0 0;
    background-color: #fdfdfd;
    border-right: 1px solid #eaeaea;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 85vh;
    overflow-y: auto;
}

.slide-preview {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 12px 0;
}

.slide-number {
    color: #a69999;
    font-weight: 500;
}

.slide-preview.active .slide-number {
    color: #444445;
}

.slide-frame {
    position: relative;
    width: 85%;
    height: 100%;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    
    z-index:2;
}

.slide-background {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    -webkit-box-shadow: 0px 10px 20px -20px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 10px 20px -20px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 10px 20px -20px rgba(0, 0, 0, 0.6);
}

.slide-preview.active {
    background-color: #d6ecfa;
    border-radius: 5px;
}

    .slide-preview.active .slide-background {
        border-left: 4px solid #00adff;
    }

.add-slide {
    background-color: #f2f2f2;
    color: #888888;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    border: dotted #cccccc 2px;
    border-radius: 5px;
    cursor: pointer;
    width: 155px;
    height: 105px;
    margin: 12px 0;
    padding: 12px 0;
}

    .add-slide > div {
        color: inherit;
        text-decoration: inherit;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
/* End of side panel */

.slide-header {
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
    display: flex;

    align-items:center;
}

.slide-actions-left {
    width: 210px;
    border-right: 1px solid #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .slide-actions-left input {
        width: 80%;
        padding: 8px;
        margin: 8px;
        font-weight: 700;
        border: none;
        outline: none;
        text-align: center;
    }

        .slide-actions-left input:hover,
        .slide-actions-left input:focus {
            border: dotted #cccccc 1px;
            border-radius: 5px;
        }

.slide-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 12px;
}

    .slide-actions svg {
        color: #4a4a4a;
        margin: 8px;
        cursor: pointer;
    }

.title, .text {
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;
    -webkit-line-break: after-white-space;
    background: transparent;
    outline: none;
    padding: 5px;
    text-align: center;
    word-break: break-all;
}

    .title:focus,
    .text:focus {
        border: dotted #777777 2px;
    }

/* End of Slides nav */

