.header {
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
    z-index: 20;
}

.presentationName {
    width: 210px;
    border-right: 1px solid #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .presentationName input {
        width: 80%;
        padding: 8px;
        margin: 8px;
        font-weight: 700;
        border: none;
        outline: none;
        text-align: center;
    }

        .presentationName input:hover,
        .presentationName input:focus {
            border: dotted #cccccc 1px;
            border-radius: 5px;
        }

.actions {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
}

    .actions svg {
        margin: 10px;
        color: #4a4a4a;
        cursor: pointer;
    }

.actionsRight {
    margin-left: auto;
    display: flex;
    align-items: center;
}

    .actionsRight .startEvent {
        padding: 0.4rem 1.1rem;
        font-size: 18px;
        border-radius: 4px;
        background: #e20761;
        color: #fff;
        border: none;
        font-size: 16px;
    }

        .actionsRight .startEvent:hover {
            background: #d6075c
        }

    .actionsRight p {
        margin-bottom: 0;
    }

    .actionsRight > * {
        margin-right: 0.5rem;
    }
