<header class="container-fluid text-center">
    <div class="row h-100">
        <div class="col logo w-18">
            <h2>Slides</h2>
        </div>
        <partial name="_LoginPartial" />
    </div>
</header>
